.form-container {
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
  }

input {
    width: 100%;
    border-color: black;
  }

textarea {
    width: 100%;
    border-color: black;
  }

button {
    margin:0.2rem;
  }
